<html>

<head>
    <title>Доставка суши</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
          integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/app.css">
    <link rel="stylesheet" type="text/css" href="../static/hot.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

<div class="container-fluid">

<div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"  class="active"><a href="sushi">Главная</a></li>
            <li role="presentation"><a href="showSignUp">Логин</a></li>
          </ul>
        </nav>
      </div>
	<div class="clearfix"></div>

    <div class="row">
        <ol class="breadcrumb">
            <li class="active">Главная</li>
        </ol>
        <div class="privetstvie text-center">
            <h1>ДОСТАВКА СУШИ И ПИЦЦЫ В АСТАНЕ</h1>
        </div>
    </div>


    <div class="row tovary">
        <div class="col-md-8 osnovnye-tovay">
            <div class="row">

                <div class="tovar col-md-4 col-sm-4 col-xs-12">
                    <img src="../static/images/california.jpg" alt="Калифорния" width="100%"
                         style="padding-bottom:5px;"><br>
                    <b style="margin:20px;font-size:18px;">Калифорния</b>
                    <br>
                    <span style="font-size:14px;" class="pull-left">10 штук, семга</span>
                    <span class="cena pull-right">2300тг</span>
                    <br>
                    <button class="dobavit-vkorzinu">ДОБАВИТЬ В КОРЗИНУ</button>
                </div>


                <div class="tovar col-md-4 col-sm-4 col-xs-12">
                    <img src="../static/images/california.jpg" alt="Калифорния" width="100%"
                         style="padding-bottom:5px;"><br>
                    <b style="margin:20px;font-size:18px;">Калифорния</b>
                    <br>
                    <span style="font-size:14px;" class="pull-left">10 штук, семга</span>
                    <span class="cena pull-right">2300тг</span>
                    <br>
                    <button class="dobavit-vkorzinu">ДОБАВИТЬ В КОРЗИНУ</button>
                </div>

                <div class="tovar col-md-4 col-sm-4 col-xs-12">
                    <img src="../static/images/california.jpg" alt="Калифорния" width="100%"
                         style="padding-bottom:5px;"><br>
                    <b style="margin:20px;font-size:18px;">Калифорния</b>
                    <br>
                    <span style="font-size:14px;" class="pull-left">10 штук, семга</span>
                    <span class="cena pull-right">2300тг</span>
                    <br>
                    <button class="dobavit-vkorzinu">ДОБАВИТЬ В КОРЗИНУ</button>
                </div>

                <div class="tovar col-md-4 col-sm-4 col-xs-12">
                    <img src="../static/images/california.jpg" alt="Калифорния" width="100%"
                         style="padding-bottom:5px;"><br>
                    <b style="margin:20px;font-size:18px;">Калифорния</b>
                    <br>
                    <span style="font-size:14px;" class="pull-left">10 штук, семга</span>
                    <span class="cena pull-right">2300тг</span>
                    <br>
                    <button class="dobavit-vkorzinu">ДОБАВИТЬ В КОРЗИНУ</button>
                </div>

            </div>
        </div>
        <div class="col-md-4 hot-block hidden-sm hidden-xs">
            <h4>Горячие предложения</h4>
            <div class="row hot-item">
                <div class="col-md-3">
                    <img src="../static/images/california.jpg" alt="Калифорния" width="50px;"
                         style="padding-bottom:5px;">
                </div>
                <div class="col-md-9">
                    <a href="#"><span data-toggle="tooltip" title="В горячих с 1 мая 2019">Калифорния</span></a>
                    <br>
                    <span class="cena">1400тг</span>
                    <br>
                    <span class="opisanie">10 штук, семга</span>
                </div>
            </div>
            <div class="row hot-item">
                <div class="col-md-3">
                    <img src="../static/images/california.jpg" alt="Калифорния" width="50px;"
                         style="padding-bottom:5px;">
                </div>
                <div class="col-md-9">
                    <a href="#"><span title="В горячих с 1 мая 2019">Калифорния</span></a>
                    <br>
                    <span class="cena">1400тг</span>
                    <br>
                    <span class="opisanie">10 штук, семга</span>
                </div>
            </div>
            <div class="row hot-item">
                <div class="col-md-3">
                    <img src="../static/images/california.jpg" alt="Калифорния" width="50px;"
                         style="padding-bottom:5px;">
                </div>
                <div class="col-md-9">
                    <a href="#"><span title="В горячих с 1 мая 2019">Калифорния</span></a>
                    <br>
                    <span class="cena">1400тг</span>
                    <br>
                    <span class="opisanie">10 штук, семга</span>
                </div>
            </div>
            <div class="row hot-item">
                <div class="col-md-3">
                    <img src="../static/images/california.jpg" alt="Калифорния" width="50px;"
                         style="padding-bottom:5px;">
                </div>
                <div class="col-md-9">
                    <a href="#"><span title="В горячих с 1 мая 2019">Калифорния</span></a>
                    <br>
                    <span class="cena">1400тг</span>
                    <br>
                    <span class="opisanie">10 штук, семга</span>
                </div>
            </div>
            <div class="row hot-item">
                <div class="col-md-3">
                    <img src="../static/images/california.jpg" alt="Калифорния" width="50px;"
                         style="padding-bottom:5px;">
                </div>
                <div class="col-md-9">
                    <a href="#"><span title="В горячих с 1 мая 2019">Калифорния</span></a>
                    <br>
                    <span class="cena">1400тг</span>
                    <br>
                    <span class="opisanie">10 штук, семга</span>
                </div>
            </div>
            <div class="row hot-item">
                <div class="col-md-3">
                    <img src="../static/images/california.jpg" alt="Калифорния" width="50px;"
                         style="padding-bottom:5px;">
                </div>
                <div class="col-md-9">
                    <a href="#"><span title="В горячих с 1 мая 2019">Калифорния</span></a>
                    <br>
                    <span class="cena">1400тг</span>
                    <br>
                    <span class="opisanie">10 штук, семга</span>
                </div>
            </div>
            <div class="row hot-item">
                <div class="col-md-3">
                    <img src="../static/images/california.jpg" alt="Калифорния" width="50px;"
                         style="padding-bottom:5px;">
                </div>
                <div class="col-md-9">
                    <a href="#"><span title="В горячих с 1 мая 2019">Калифорния</span></a>
                    <br>
                    <span class="cena">1400тг</span>
                    <br>
                    <span class="opisanie">10 штук, семга</span>
                </div>
            </div>
            <div class="row hot-item">
                <div class="col-md-3">
                    <img src="../static/images/california.jpg" alt="Калифорния" width="50px;"
                         style="padding-bottom:5px;">
                </div>
                <div class="col-md-9">
                    <a href="#"><span title="В горячих с 1 мая 2019">Калифорния</span></a>
                    <br>
                    <span class="cena">1400тг</span>
                    <br>
                    <span class="opisanie">10 штук, семга</span>
                </div>
            </div>
            <div class="row hot-item">
                <div class="col-md-3">
                    <img src="../static/images/california.jpg" alt="Калифорния" width="50px;"
                         style="padding-bottom:5px;">
                </div>
                <div class="col-md-9">
                    <a href="#"><span title="В горячих с 1 мая 2019">Калифорния</span></a>
                    <br>
                    <span class="cena">1400тг</span>
                    <br>
                    <span class="opisanie">10 штук, семга</span>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            карта
        </div>
    </div>

</div>
</body>

</html>
